<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Todo App</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body class="light-blue lighten-1">
	<% if(typeof userName != 'undefined') { %>
		<%- include('templates/navbar', {userName:userName}); %>
	<% } else { %>
		<%- include('templates/navbar'); %>
	<% } %>
	<div class="container">
		<%- body %>
	</div>
</body>

</html>